.button-1 {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button-1:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button-1 svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button-1:hover svg {
  transform: translateX(5px);
}

.button-1__text {
  margin: 0 1.5em;
}
