@import url(./button-1.css);
@import url(./button-2.css);
@import url(./button-3.css);
@import url(./button-4.css);
@import url(./loader-1.css);
@import url(./loader-2.css);
@import url(./loader-3.css);
@import url(./loader-4.css);
@import url(./loader-5.css);

:root {
  font-size: 62.5%;

  --blue: #00c9ff;
  --green: #92fe9d;

  --section-gap: 4rem;
  --max-width-2: 72rem;
  --max-width-1: 128rem;

  --small-size: 1.4rem;
  --body-1-size: 1.8rem;
  --body-2-size: 1.6rem;

  --back-color: #09090b;
  --text-color: #f4f4f4;

  --heading-1-size: 6.4rem;
  --heading-2-size: 3.2rem;
  --heading-3-size: 2.4rem;

  --dark-color-1: #171717;
  --dark-color-2: #202020;

  --section-margin-bottom: 16rem;

  --blue-gradient: linear-gradient(to right, var(--blue), var(--green));
  --colored-gradient-right: linear-gradient(to right, #e763d6, #d06ee2, #b778ea, #9c80ef, #7f86f0, #6292f7, #409dfa, #00a7fa, #00b9fb, #00c9f4, #00d7e6);
  --colored-gradient-top: linear-gradient(to top right, #e763d6, #d06ee2, #b778ea, #9c80ef, #7f86f0, #6292f7, #409dfa, #00a7fa, #00b9fb, #00c9f4, #00d7e6);

  --box-shadow-gray: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.1), inset 0 0 0 0.1rem rgba(255, 255, 255, 0.03), inset 0 0.1rem 0 rgba(255, 255, 255, 0.03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.--gradient {
  color: transparent;
  background-clip: text;
  background-image: var(--blue-gradient);
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

body {
  margin: 0 2rem;
  font-style: normal;
  color: var(--text-color);
  font-size: var(--body-1-size);
  font-family: 'Inter', sans-serif;

  background-size: 32px 32px;
  background-color: #09090b;
  background-image: radial-gradient(#101010 2px, transparent 2px);

  /* background-color: var(--back-color); */
  /* background: linear-gradient(to top right, var(--back-color) 85%, var(--blue), var(--green)); */

  /* animation: move-right 4s linear infinite; */
}

@keyframes move-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--back-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

/* Loading */

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 1.6rem;
  height: 100vh;

  user-select: none;
}

.loading__spin {
  width: 2rem;
  padding: 2rem;

  border-radius: 100%;
  border: 0.5rem white solid;
  background-color: var(--bg-color);

  border-color: white white white transparent;
  animation: rotation 0.5s 0s linear infinite reverse;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  position: fixed;
  object-fit: cover;

  display: none;
  filter: brightness(6%);
}

/* Container */

.container {
  margin: auto;
  display: none;
  place-items: center;

  animation: fade-in 2.4s;
  grid-template-columns: 1fr;
  max-width: var(--max-width-1);
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(0.16rem);
  }
}

/* Header */

header {
  font-weight: 700;
  font-size: var(--heading-3-size);

  margin-top: 8rem;
  margin-bottom: var(--section-margin-bottom);
  animation: moving 1.2s ease-in-out alternate infinite;
}

@keyframes moving {
  from {
    transform: translateY(-0.7rem);
  }
  to {
    transform: translateY(0.7rem);
  }
}

/* Hero */

.hero {
  display: grid;
  text-align: center;
  gap: var(--section-gap);

  justify-items: center;
  max-width: var(--max-width-2);
  margin-bottom: var(--section-margin-bottom);
}

.hero__headline {
  font-weight: 700;
  font-size: var(--heading-1-size);
}

.hero__headline::after {
  width: 10rem;
  height: 10rem;
  background-color: red;
}

.hero__text {
  width: 48rem;
  font-weight: 300;
  line-height: 2.4rem;
}

input {
  all: unset;
}

.hero__field {
  gap: 0.8rem;
  display: flex;
}

.hero__input {
  height: 4rem;
  padding-left: 2rem;
  border-radius: 2.4rem;

  width: 16rem;
  text-align: left;
  border-style: none;
  text-decoration: none;

  border: none;
  font-size: var(--small-size);
  box-shadow: var(--box-shadow-gray);
  background-color: var(--dark-color-1);
}

button {
  all: unset;
}

.hero__btn {
  width: 16rem;
  cursor: pointer;
  font-weight: 800;
  border-radius: 2.4rem;

  height: 4rem;
  color: var(--back-color);
  font-size: var(--small-size);
  background: var(--blue-gradient);
}

.hero__btn:hover {
  background: linear-gradient(to top right, #00c9ff, #92fe9d);
}

/* Tokens */

.tokens {
  width: 100%;
  max-width: var(--max-width-2);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  gap: var(--section-gap);
  animation: 2.4s slidein ease-in-out;
  margin-bottom: var(--section-margin-bottom);
}

@keyframes slidein {
  from {
    scale: 150%;
    filter: brightness(0%);
    transform: translateY(20rem);
  }
  to {
    scale: 100%;
    transform: translateY(0);
    filter: brightness(100%);
  }
}

.tokens__title {
  font-weight: 500;
  font-size: var(--heading-3-size);
}

.tokens__elements {
  gap: 1.6rem;
  display: flex;
}

.tokens__element {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 16rem;
  height: 4.8rem;
  padding-left: 1.6rem;

  gap: 1rem;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: var(--small-size);
}

.tokens__elements .--buttons {
  border: 0.1rem solid var(--blue);
  box-shadow: inset 0px 0px 2px rgba(11, 142, 230, 1);
}

.tokens__elements .--buttons:hover {
  border: 0.1rem solid var(--blue);
  box-shadow: inset 0px 0px 4px rgba(11, 142, 230, 1);
}

.tokens__elements .--loaders {
  border: 0.1rem solid var(--green);
  box-shadow: inset 0px 0px 2px rgba(6, 233, 127, 1);
}

.tokens__elements .--loaders:hover {
  border: 0.1rem solid var(--green);
  box-shadow: inset 0px 0px 4px rgba(6, 233, 127, 1);
}

.tokens__element-img {
  height: 1.6rem;
}

/* Elements */

.elements {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--section-margin-bottom);
}

.elements__object {
  margin-bottom: 2.4rem;
}

.elements__title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

.elements__items {
  width: 100%;
  display: grid;

  gap: 1.6rem;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.elements__item {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 300;
  color: var(--text-color);
  font-size: var(--small-size);

  height: 24rem;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: #171717;

  transition: transform 700ms;
  box-shadow: var(--box-shadow-gray);
  animation: fade-in-elementos 700ms ease-in-out;
}

.elements__item:hover {
  transform: scale(103%);
  background-color: var(--dark-color-2);
}

@keyframes fade-in-elementos {
  from {
    opacity: 10%;
  }
}

.elements__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);

  width: 8rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  color: var(--text-color);
  font-size: var(--small-size);
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-weight: 300;
  user-select: none;
  margin-bottom: 4rem;
  max-width: var(--max-width);
  font-size: var(--small-size);
}

footer a {
  color: var(--text-color);
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  header {
    animation: none;
  }

  .container {
    animation: none;
  }

  @keyframes slidein {
    from {
      transform: translateY(20rem);
    }
    to {
      transform: translateY(0);
    }
  }

  .elements {
    animation: slidein 2.4s ease-in-out;
  }

  body {
    margin: 1.2rem;
    /* background: linear-gradient(to top right, var(--back-color) 90%, #00c9ff, #92fe9d); */
  }

  .elements__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .tokens__elements {
    justify-content: center;
  }

  .hero__field {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 0.8rem;
    flex-direction: column;
    justify-content: center;
  }

  .hero__input {
    padding: 0;
    width: 24rem;
    text-align: center;
  }

  .hero__btn {
    width: 24rem;
  }

  .elements__title {
    width: 30rem;
    text-align: center;
    font-size: 2.4rem;
  }

  .hero__text {
    width: 40rem;
    font-size: 1.6rem;
  }

  .hero {
    align-items: center;
    justify-items: center;
  }

  .tokens {
    gap: 2rem;
  }

  .hero__headline {
    width: 48rem;
    font-size: 4.8rem;
  }

  .hero,
  header,
  .tokens,
  .elements,
  footer {
    margin-bottom: 7.2rem;
  }
}

@media (max-width: 500px) {
  body {
    margin: 1.2rem;
    /* background: linear-gradient(to top right, var(--back-color) 90%, #00c9ff, #92fe9d); */
  }

  .elements__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .tokens__elements {
    width: 100%;
    gap: 0.8rem;
  }

  .hero__field {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 0.8rem;
  }

  .hero__input {
    padding: 0;

    text-align: center;
  }

  .hero__text {
    width: 36rem;
    font-size: var(--small-size);
  }

  .hero__headline {
    width: auto;
    font-size: 4rem;
  }

  .hero {
    gap: 2rem;
  }

  .tokens {
    gap: 2rem;
  }

  header,
  .hero,
  .tokens,
  .elements,
  footer {
    margin-bottom: 7.2rem;
  }
}
